@model CheckoutPage.Models.CustomerChargeViewModel
@{
    ViewBag.Title = "Charge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (@Model.PricePaid != 0)
{
<h2> You successfully paid <strong>$@(Model.PricePaid /100) </strong></h2>

}
else
{
<h2>Something went wrong</h2>
}