@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Just One Dime</h1>
    <p class="lead">Here is a dime that you can buy, that actually makes a fountain of dimes. They turn into millions. It's like Magic!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Interested?</h2>
        
        <p>@Html.ActionLink("Buy a Dime here", "StripePay", "Home")</p>
    </div>
   
</div>