@model CheckoutPage.Models.ProductModel

    @{
        ViewBag.Title = "StripePay";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

<br /><br />
<img src="~/Content/OneDime.png" alt="One Dime" height="112" width="112" />

<br />
    @using (Html.BeginForm("Charge", "Home", @Model))
    {
        <article>
            <h1>You are getting a magical dime for only: $@(Model.RetailPrice / 100)</h1>
        </article>
        <br />
        <script src="//checkout.stripe.com/v2/checkout.js"
                class="stripe-button"
                data-key="@ViewBag.StripePublishKey"
                data-locale="auto"
                data-description="Sample Charge"
                data-amount="@Model.RetailPrice">
        </script>
    }


