@model CheckoutPage.Models.ProductModel

    @{
        ViewBag.Title = "StripePay";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }


    @using (Html.BeginForm("Charge", "Home", @Model))
    {
        <article>
            <label>You are getting a magical dime for only: $@(Model.RetailPrice / 100)</label>
        </article>
        <script src="//checkout.stripe.com/v2/checkout.js"
                class="stripe-button"
                data-key="@ViewBag.StripePublishKey"
                data-locale="auto"
                data-description="Sample Charge"
                data-amount="@Model.RetailPrice">
        </script>
    }


